
$primary-color: #A2CA67;
$primary-hover: #70A728;
$primary-headings: #62843A;

// * {
//   border: solid 1px red;
// }
//RECIPES
//----------------------------
.recipes-view {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .thumbnail-recipes {
    max-width: 400px;
    margin: 0 auto;
    h3 {
      color: $primary-headings;
    }
    p {
      button {
        background-color: #333333;
      }
      button:hover {
        background-color: $primary-hover;
        opacity: 0.8;
      }
      a {
        color: #333333;
      }
      a:hover {
        color: $primary-hover;
        opacity: 0.8;
      }
      a.fa {
        margin-top: -3px;
      }
    }
  }
}


// HOME
// ----------------------------
.home-view {
  // background: url("../img/cucumber_background.jpeg") no-repeat center center fixed;
  // background-size: 100% 100%;
  // background-repeat: no-repeat;
  background-color: #FFF;
}


.plus-info-view { 
  .modal-header {
    h4 {
      color: $primary-headings;
    }
    // a {
    //   color: $primary-headings;
    // }
    a {
        color: #333333;
      }
    a:hover {
      color: $primary-hover;
      opacity: 0.8;
    }
  }
  .modal-body  {
    h3 {
      color: $primary-headings;
    }
    p a:hover {
      color: $primary-hover;
      opacity: 0.8;
    }
  }
  .modal-footer {
    button {
      background-color: #333333;
    }
    button:hover {
      background-color: $primary-hover;
      opacity: 0.8;
    }
  }
}


//NAVBAR
//----------------------------
.navbar-view.navbar {
  color: $primary-color;
}
.navbar-brand {
  background-color: $primary-color;
}
.navbar-brand:hover {
  background-color: $primary-hover;
  letter-spacing: 1px;
  transition: all 0.3s ease 0s;
}

//FOOTER
//----------------------------
.footer-view {
  .copyright {
      color: white;
  }
  a {
    color: $primary-color
  }
}

