//PRIMARY COLORS
//----------------------------
$primary-color: #A2CA67;
$primary-hover: #70A728;
$primary-headings: #62843A;


//RECIPES
//----------------------------

.recipes-view {
  // position: absolute;
  .thumbnail {
  box-shadow: 3px 3px 40px 0px rgba(0,0,0,0.15);
  //Overwriting Bootstrap settings
  //________
  padding: 0;
  border: 0;
  //________
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .thumbnail-recipes {
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 3px 3px 40px 0px rgba(0,0,0,0.15);
    h3 {
      color: $primary-headings;
    }
    p {
      button {
        background-color: #333333;
      }
      button:hover {
        background-color: $primary-hover;
        opacity: 0.8;
      }
      a {
        color: #333333;
      }
      a:hover {
        color: $primary-hover;
        opacity: 0.8;
      }
      a.fa {
        margin-top: -3px;
      }
    }
  }
}
  //MODAL WINDOW
  //----------------------------

.plus-info-view { 
  .thumbnail {
  box-shadow: 3px -1px 23px 0px rgba(0,0,0,0.15);
  padding: 0;
  border: 0;
  }
  .modal-header {
    h4 {
      color: $primary-headings;
    }
    a {
        color: #333333;
      }
    a:hover {
      color: $primary-hover;
      opacity: 0.8;
    }
  }
  .modal-body  {
    h3 {
      color: $primary-headings;
    }
    p a:hover {
      color: $primary-hover;
      opacity: 0.8;
      }
  }
  .modal-footer {
    button {
      background-color: #333333;
    }
    button:hover {
      background-color: $primary-hover;
      opacity: 0.8;
    }
  }
}



// HOME
// ----------------------------
.background-img {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity : 0.1;
  background-image: url("/img/bacon_and_chips.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.home-view {
  .thumbnail {
    box-shadow: 3px -1px 40px 0px rgba(0,0,0,0.15);
    padding: 0;
    border: 0;
  }
}
//Overwriting Bootstrap settings
//________
.jumbotron {
    background: none;
    p {
      background: none;
    }
  }
//________


//SHOPING LIST
//----------------------------

.shopping-list-view {
    .thumbnail {
      box-shadow: 3px 3px 40px 0px rgba(0,0,0,0.15);
      //Overwriting Bootstrap settings
      //________
      padding: 0;
      border: 0;
      //________
      }
      .table-container {
        max-width: 400px;
        background: #FFF;
        box-shadow: 3px 3px 40px 0px rgba(0,0,0,0.15);
      }
  }

//NAVBAR
//----------------------------

.navbar-view.navbar {
  color: $primary-color;
}
.navbar-brand {
  background-color: $primary-color;
}
.navbar-brand:hover {
  background-color: $primary-hover;
  letter-spacing: 1px;
  transition: all 0.3s ease 0s;
}
//Overwriting Bootstrap settings
//________
// .navbar .navbar-default {
//   margin-top: 0px;
//   position: fixed;
//  }
//________



//FOOTER
//----------------------------

.footer-view {
  // position: relative;
  //Overwriting Bootstrap settings
  //________
  // margin-bottom: 0px;
  // position: fixed;
  //________
  .copyright {
      color: white;
  }
  a {
    color: $primary-color
  }
}

