doctype html
html(lang='en')
  head
    meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1.0')
    include includes/styles
    title Cucumber Basket
  body    
    .background-img
    include includes/navbar


    block content
      .jumbotron.home-view
        .row
          .col-xs-12.col-sm-4
            .row
              .container
                .col-xs-6.col-sm-12
                  .thumbnail
                    .caption
                      h2 Hello user!!
                      p I´m working hard to get ready this wonderful web-app ASAP!!!!
                      br
                      p See you soon
                .col-xs-6.col-sm-12
                  .thumbnail
                    img(src='img/cucum_icon1.jpeg')
                  .thumbnail.hidden-sm.hidden-md.hidden-lg
                    img(src='img/cucum_icon3.jpeg')
                  .thumbnail.hidden-sm.hidden-md.hidden-lg
                    img(src='img/cucum_icon2.jpeg')
                //- a.btn.btn-primary.btn-sm(href='https://github.com/lfernandezcall', role='button') Go to my GitHub

          .col-xs-12.col-sm-4
            .container
              .thumbnail.hidden-lg.hidden-md
                img(src='img/chicken_wings.jpg')
              .thumbnail
                img(src='img/zuchinni_with_sausage.jpg')
              .thumbnail
                img(src='img/lentil_salad.jpg')

          .hidden-xs.col-sm-4.add-shadow
            .container
              .thumbnail
                img(src='img/screenshot_trello2.png')

    include includes/footer
    include includes/scripts
