extends home

block content
  div.recipes-view.container
    .container
      each recipe, index in data
        .col-xs-12.col-sm-6.col-md-4
          .thumbnail.thumbnail-recipes
            img(src=recipe.recipeImg)
            .caption
              h3= recipe.title
              p
                | #{recipe.description}
                a.btn.btn-default.btn-xs(href='#', role='button') Select
                button.modal-btn.btn.btn-primary.btn-xs(type='button', data-toggle='modal', data-target='#myModal_' + recipe._id) + info
              include includes/modal


