extends home

block content
  div.recipes-view
    .container
      each recipe in data
        .col-xs-12.col-sm-6.col-md-4
          .thumbnail.thumbnail-recipes 
            img(src=recipe.recipeImg)
            .hover-caption
              .caption
                h3= recipe.title
                p
                  button.modal-btn.btn.btn-primary.btn-xs(type='button', data-toggle='modal', data-target='#myModal_' + recipe._id) + info
            include includes/modal


