extends home

block content
  .container
    h4.media-heading
      a Shopping list!!!!!
      .row
        .col-sm-12.col-md-10.col-md-offset-1
          table.table
            thead
              tr
                th Product
                th Quantity
            tbody
              tr
                td.col-sm-10.col-md-6
                  .media
                      h4.media-heading
                        a Potato
                td.col-sm-1.col-md-1(style='text-align: center')
                  span 3 ud
                td.col-sm-1.col-md-1
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td.col-sm-10.col-md-6
                  .media
                      h4.media-heading
                        a Onionz
                td.col-sm-2.col-md-2(style='text-align: center')
                  span 40 gr
                td.col-sm-2.col-md-2
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
                tr
                td.col-sm-10.col-md-6
                  .media
                      h4.media-heading
                        a Rice
                td.col-sm-1.col-md-1(style='text-align: center')
                  span 1000 gr
                td.col-sm-1.col-md-1
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td.col-sm-10.col-md-6
                  .media
                      h4.media-heading
                        a Pasta
                td.col-sm-2.col-md-2(style='text-align: center')
                  span  500 gr
                td.col-sm-2.col-md-2
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td.col-sm-10.col-md-6
                  .media
                      h4.media-heading
                        a Beef
                td.col-sm-2.col-md-2(style='text-align: center')
                  span  300 gr
                td.col-sm-2.col-md-2
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td.col-sm-10.col-md-6
                  .media
                      h4.media-heading
                        a Lemons
                td.col-sm-2.col-md-2(style='text-align: center')
                  span 150 gr
                td.col-sm-2.col-md-2
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td.col-sm-10.col-md-6
                  .media
                      h4.media-heading
                        a Bacon
                td.col-sm-2.col-md-2(style='text-align: center')
                  span  250 gr
                td.col-sm-2.col-md-2
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td.col-sm-10.col-md-6
                  .media
                      h4.media-heading
                        a Carrots
                td.col-sm-2.col-md-2(style='text-align: center')
                  span  200 gr
                td.col-sm-2.col-md-2
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
