extends home

block content
  .container.shopping-list-view
    .row
      .container.table-container.col-xs-12
          h4.media-heading
            a Shopping list
          table.table.table-bordered
            thead
              tr
                th Product
                th Quantity
            tbody
              tr
                td
                  .media
                      h4.media-heading
                        a Potato
                td(style='text-align: center')
                  span 3 ud
                td
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td
                  .media
                      h4.media-heading
                        a Onion
                td(style='text-align: center')
                  span 40 gr
                td
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td
                  .media
                      h4.media-heading
                        a Potato
                td(style='text-align: center')
                  span 3 ud
                td
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td
                  .media
                      h4.media-heading
                        a Onion
                td(style='text-align: center')
                  span 40 gr
                td
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td
                  .media
                      h4.media-heading
                        a Potato
                td(style='text-align: center')
                  span 3 ud
                td
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td
                  .media
                      h4.media-heading
                        a Onion
                td(style='text-align: center')
                  span 40 gr
                td
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td
                  .media
                      h4.media-heading
                        a Potato
                td(style='text-align: center')
                  span 3 ud
                td
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td
                  .media
                      h4.media-heading
                        a Onion
                td(style='text-align: center')
                  span 40 gr
                td
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td
                  .media
                      h4.media-heading
                        a Potato
                td(style='text-align: center')
                  span 3 ud
                td
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td
                  .media
                      h4.media-heading
                        a Onion
                td(style='text-align: center')
                  span 40 gr
                td
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td
                  .media
                      h4.media-heading
                        a Potato
                td(style='text-align: center')
                  span 3 ud
                td
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed
              tr
                td
                  .media
                      h4.media-heading
                        a Onion
                td(style='text-align: center')
                  span 40 gr
                td
                  button.btn.btn-danger.btn-xs(type='button')
                    //- span.glyphicon.glyphicon-check
                    |  Buyed

