.addRecipe-view {
    .panel-primary, .addRecipe {
      box-shadow: 3px 3px 40px 0px rgba(0, 0, 0, 0.15);
    }
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
}
