.editCollection-view {
    // margin-top: -21px;
    .custom-search-input {
        .input-group {
            width: 100%;
            padding: 0px 15px 0px 15px;
        }

    }

    .img-background {
        overflow: hidden;
        height: 150px;
        position: relative;
        margin: 0 auto;
        img {
            width: 100%;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
    .thumbnail-recipes {
        // max-width: 400px;
        margin: 20px auto;
        box-shadow: 3px 3px 40px 0px rgba(0, 0, 0, 0.15);
        padding: 0;
        border: 0;
        h3 {
            color: $primary-headings;
        }
        p {
            a .edit {
                width: 80px;
                background: $primary-headings;
            }
            a:hover.edit {
                color: $primary-hover;
                opacity: 0.2;
            }
            a {
                width: 80px;
            }
            a:hover {
                color: $primary-hover;
                opacity: 0.2;
            }
        }
    }
}
