//- FOOTER
//----------------------------------
nav.navbar.navbar-default
  .container
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        .copyright
          | © 2017, made at 
          a(href='http://www.skylabcoders.com/es/') SKYLABCODERS 💻
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        .design
          a(href='https://github.com/lfernandezcall') Ad astra per aspera
