<div class="editCollection-view">
  <div class="container">
    <div ng-repeat="recipe in recipes">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail thumbnail-recipes">
          <div class="img-background">
            <img ng-src="{{recipe.recipeImg}}">
          </div>      
          <div class="caption">
            <h3>{{recipe.title}}</h3>
            <div>{{ recipe.description | limitTo:100}}...</div>
            <p><a ng-href="#!/editRecipe/{{recipe._id}}" class="edit btn btn-default btn-xs" role="button">Edit</a>
            <p><a ng-click="removeRecipeById(recipe._id)" class="btn btn-danger btn-xs" role="button">Remove</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
