.background-img {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity : 0.1;
  background-image: url("/img/bacon_and_chips.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.home-view {
  .thumbnail {
    box-shadow: 3px -1px 40px 0px rgba(0,0,0,0.15);
    padding: 0;
    border: 0;
  }
}

//Overwriting Bootstrap settings
.jumbotron {
  background: none;
  p {
    background: none;
  }

}
