.recipes-view {
    .thumbnail {
        box-shadow: 3px 3px 40px 0px rgba(0, 0, 0, 0.15);
        //Overwriting Bootstrap settings
        padding: 0;
        border: 0;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .img-background {
        overflow: hidden;
        height: 150px;
        position: relative;
        margin: 0 auto;
        img {
            width: 100%;
            position: absolute;
            margin: auto;
            top: 0; 
            left: 0; 
            bottom: 0; 
            right: 0;
        }
    }
    .thumbnail-recipes {
        max-width: 400px;
        margin: 20px auto;
        box-shadow: 3px 3px 40px 0px rgba(0, 0, 0, 0.15);
        h3 {
            color: $primary-headings;
        }
        p {
            button {
                background-color: #333333;
            }
            button:hover {
                background-color: $primary-hover;
                opacity: 0.8;
            }
            a {
                color: #333333;
            }
            a:hover {
                color: $primary-hover;
                opacity: 0.8;
            }
            a.fa {
                margin-top: -3px;
            }
        }
    }
}
