.recipes-view {
    .cover-img {
        border: solid 1px red !important;
        width: 300px;
        height: 200px;
    }
    .thumbnail {
        //Overwriting Bootstrap settings
        padding: 0;
        border: 0;
        width: 300px;
        overflow: hidden;
        position: relative;
        height: 180px;
    }
    .hover-caption {
        width: 300px;
        height: 180px;
        position: absolute;
        display: none;
        background: white;
        opacity: 0.9;
    }
    img:hover + .hover-caption {
      display: block;
    }
    img {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        
    }
    .thumbnail-recipes {
        width: 300px;
        height: 180px;
        margin: 20px auto;
        box-shadow: 3px 3px 40px 0px rgba(0, 0, 0, 0.15);
        h3 {
            color: $primary-headings;
        }
        p {
            button {
                background-color: #333333;
            }
            button:hover {
                background-color: $primary-hover;
                opacity: 0.8;
            }
            a {
                color: #333333;
            }
            a:hover {
                color: $primary-hover;
                opacity: 0.8;
            }
            a.fa {
                margin-top: -3px;
            }
        }
    }
}
