<!DOCTYPE html>
<html lang="en" ng-app="adminPanel">
<head>
  <meta charset="UTF-8">
  <div ng-include src="'includes/styles.html'"></div>
  <title>My admin panel</title>
</head>
<body>
  <h1>This is my page</h1>
  <h2>{{ 4 + 6 }}</h2>
  <div>
    <div ng-controller="GetRecipesController">
      <h2>
        {{ name }}
      </h2>
      <div class="container">
        <div class="row">
          <div ng-repeat="recipe in recipes">
            <div  class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img ng-src="{{recipe.recipeImg}}">
                <div class="caption">
                  <h3>{{recipe.title}}</h3>
                  <p>{{recipe.description}}</p>
                  <p><a ng-click="removeRecipeById(recipe._id)" ng-href="#" class="btn btn-danger" role="button">Remove</a> <!-- <a href="#" class="btn btn-default" role="button">Button</a> --></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="container" ng-controller="AddRecipeController">
      <form>
        Image URL (just enter the name):<br>
        <input type="text" ng-model="recipeImg"><br>
        Title:<br>
        <input type="text" ng-model="title"><br>
        Description:<br>
        <input type="text" ng-model="description">
        <input type="submit" ng-click="addRecipe()" value="Save" />
      </form>
    </div>
  </div>
  <script src="../app.js" type="text/javascript"></script>
  <div ng-include src="'includes/scripts.html'"></div>
</body>
</html>