<nav class="footer-view">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="text-center"><a href="http://www.skylabcoders.com/es/">SKYLABCODERS 💻</a></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="design text-center"><a href="https://github.com/lfernandezcall">Ad astra per aspera</a></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="copyright text-center">© 2017, not made by a 🤖 </div>
      </div>
    </div>
  </div>
</nav>
