<nav class="navbar navbar-default navbar-view admin">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/home" class="navbar-brand">Cucumber Basket</a>
    </div>
    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="/recipes">Recipes <span class="sr-only">(current)</span></a></li>
        <li><a href="/shopping_list">Shopping list</a></li>
        <li><a href="/myStuff">My stuff</a></li> -->
        <li><a href="#!/addRecipe">Add Recipe</a></li>
        <li><a href="#!/editCollection">Edit Collection</a></li>
      </ul>
    <!--   <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Welcome... enter!!<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Login </a></li>
            <li><a href="#">Register</a></li>
          </ul>
        </li>
      </ul> -->
    </div>
  </div>
</nav>

