<div class="container row">
  <div class="col-sm-6">
      <form>
          Image URL (just enter the name):
          <br>
          <input type="text" ng-model="recipeImg">
          <br> Title:
          <br>
          <input type="text" ng-model="title">
          <br> Description:
          <br>
          <input type="text" ng-model="description">
          <br>
          <input type="submit" ng-click="addRecipe()" value="Save" />
      </form>
  </div>
  <div class="col-sm-6">
      Ingredients:
      <br>
      <form>
          Name:
          <br>
          <input type="text" ng-model="name">
          <br> Quantity:
          <br>
          <input type="text" ng-model="quantity">
          <br>
          <input type="submit" ng-click="addIngredient()" value="Save" />
      </form>
  </div>
<div>
        <!-- <ul ng-repeat="ingredient.name in ingredients">
          <li>{{}}</li> -->
        <!--    </ul>
      </div>
    </div> -->
