<div class="container">
    <div class="row">
      <div ng-repeat="recipe in recipes | filter:{ _id : selectedId }:true">
        <form  class="col-sm-6 col-md-4">
          <br> Title:
          <br>
          <input type="text" ng-model="title" placeholder="{{recipe.title}}">
          <br> Description:
          <br>
          <input type="text" ng-model="description" placeholder="{{recipe.description}}">
          <br>
          <br>Ingredients:
          <br>
          <div ng-repeat="ingredient in recipe.ingredients">
            <input type="text" ng-model="name" placeholder="{{ingredient.name}}">
            <input type="text" ng-model="quantity" placeholder="{{ingredient.quantity}}">
          </div>
          <input type="submit" ng-click="saveRecipeChanges()" value="Save" />
        </form>
      </div>
    </div>
  </div>
</div>



