<h1>This is my page</h1>
<h2>{{ 4 + 6 }}</h2>
<div>
  <div ng-controller="CollectionController">
    <h2>
      {{ name }}
    </h2>
    <div class="container">
      <div class="row">
        <div ng-repeat="recipe in recipes">
          <div  class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img ng-src="{{recipe.recipeImg}}">
              <div class="caption">
                <h3>{{recipe.title}}</h3>
                <p>{{recipe.description}}</p>
                <h6>INGRDIENTS:</h6>
                <div ng-repeat="ingredient in recipe.ingredients">
                  <p>{{ingredient.name}}</p>
                  <p>{{ingredient.quantity}}</p>
                </div>
                <p><a ng-click="removeRecipeById(recipe._id)" ng-href="#" class="btn btn-danger" role="button">Remove</a> <!-- <a href="#" class="btn btn-default" role="button">Button</a> --></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container row" ng-controller="AddRecipeController">
    <div class="col-sm-6">
      <form>
      Image URL (just enter the name):<br>
      <input type="text" ng-model="recipeImg"><br>
      Title:<br>
      <input type="text" ng-model="title"><br>
      Description:<br>
      <input type="text" ng-model="description"><br>
      <input type="submit" ng-click="addRecipe()" value="Save" />
      </form>
    </div>
    <div class="col-sm-6">
      Ingredients:<br>
      <form>
        Name:<br>
        <input type="text" ng-model="name">
        <br>
        Quantity:<br>
        <input type="text" ng-model="quantity"><br>
        <input type="submit" ng-click="addIngredient()" value="Save" />
      </form>
    </div>
    <div> -->
      <!-- <ul ng-repeat="ingredient.name in ingredients">
        <li>{{}}</li> -->
      </ul>
    </div>
  </div>
</div>