//PRIMARY COLORS
$primary-color: #A2CA67;
$primary-hover: #70A728;
$primary-headings: #62843A;


//IMPORTS
@import 'libs/_bootswatchYeti';
@import 'imports/pug/_recipes';
@import 'imports/pug/_modalWindow';
@import 'imports/pug/_home';
@import 'imports/pug/_shoppingList';
@import 'imports/angular/_index';
@import 'imports/angular/_showCollection';
@import 'imports/angular/_editCollection';
@import 'imports/_navbar';
@import 'imports/_footer';
@import 'imports/_html-body';
@import 'imports/angular/_addRecipe';
@import 'imports/angular/_editRecipe';





